$primary-color: #87c9c8;
$secondary-color: #000;
$tertiary-color: #28ad78;
$success-color: #4ba538;
$danger-color: rgb(225, 85, 85);
$title-color: #000;

$secondary-revert-color: #fff;
$secondary-font: 'Playfair Display';
